
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(32, 32, 93, 0.78) 50% , rgba(29, 24, 63, 0.543) 100%), url('/public/img/fondo.avif');
}

/* Estilos CSS para la tabla */
.container {
    margin: 50px auto;
    width: 60%;
    overflow: hidden; /* Para ocultar el desbordamiento horizontal */
}

.table-container {
    max-height: 400px; /* Altura máxima para mostrar antes de agregar scroll */
    overflow-y: auto; /* Agrega scroll vertical si excede la altura */
}

.table {
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    box-shadow: 5px 5px 19px 4px #000;
}

.table thead th {
    background-color: #192d4091;
    color: #ecf0f1;
    padding: 15px;
}

.table tbody td:first-child,
.table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table tbody td:last-child,
.table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table tbody td:nth-child(2) {
    font-weight: 600;
}

.table tbody td{
    background-color: #34495e64;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

/* Login and Register */
.nav-login{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 190px;
    float: right;
    margin-right: 50px;
    z-index: 2;
}
.carousel {
    position: relative;
    z-index: 1; /* Ajusta el z-index para que el carousel no se superponga a otros elementos */
}

.login, .register{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    width: 100px;
    text-align: center;
}

.login:hover, .register:hover{
    border: 1px solid #fff;
    border-radius: 8px;
    font-weight: 600;
    transition:all 0.3s ease-in-out;
}

.container{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: #fff;
}
